In [166]:
import os
import pandas as pd

df= pd.read_csv('..\\Data\\financials.csv')

print(df.head())

  Symbol                 Name                  Sector   Price  Price/Earnings  \
0    MMM           3M Company             Industrials  222.89           24.31
1    AOS      A.O. Smith Corp             Industrials   60.24           27.76
2    ABT  Abbott Laboratories             Health Care   56.27           22.51
3   ABBV          AbbVie Inc.             Health Care  108.48           19.41
4    ACN        Accenture plc  Information Technology  150.51           25.47

   Dividend Yield  Earnings/Share  52 Week Low  52 Week High    Market Cap  \
0        2.332862            7.92       259.77       175.490  1.387211e+11
1        1.147959            1.70        68.39        48.925  1.078342e+10
2        1.908982            0.26        64.60        42.280  1.021210e+11
3        2.499560            3.29       125.86        60.050  1.813863e+11
4        1.714470            5.44       162.60       114.820  9.876586e+10

         EBITDA  Price/Sales  Price/Book  \
0  9.048000e+09     4.390271       11.34
1  6.010000e+08     3.575483        6.35
2  5.744000e+09     3.740480        3.19
3  1.031000e+10     6.291571       26.14
4  5.643228e+09     2.604117       10.62

                                         SEC Filings
0  http://www.sec.gov/cgi-bin/browse-edgar?action...
1  http://www.sec.gov/cgi-bin/browse-edgar?action...
2  http://www.sec.gov/cgi-bin/browse-edgar?action...
3  http://www.sec.gov/cgi-bin/browse-edgar?action...
4  http://www.sec.gov/cgi-bin/browse-edgar?action...

In [177]:
df2 = pd.read_csv('..\\Data\\superbowl_commercials.csv')

print(df2.Brand.unique())
## Only 10 brands and some are the same corp

['E-Trade' 'Budweiser' 'Bud Light' 'Pepsi' 'Doritos' 'NFL' 'Toyota'
 'Coca-Cola' 'Hyundai' 'Kia']

In [168]:
df3 = pd.read_csv('..\\Data\\superbowls.txt', sep='\t', lineterminator='\r')
# Text file scraped from https://www.pro-football-reference.com/super-bowl/
print(df3.head())

             Date         SB                Winner Pts                Loser  \
0  \nFeb 12, 2023  LVII (57)    Kansas City Chiefs  38  Philadelphia Eagles
1  \nFeb 13, 2022   LVI (56)      Los Angeles Rams  23   Cincinnati Bengals
2   \nFeb 7, 2021    LV (55)  Tampa Bay Buccaneers  31   Kansas City Chiefs
3   \nFeb 2, 2020   LIV (54)    Kansas City Chiefs  31  San Francisco 49ers
4   \nFeb 3, 2019  LIII (53)  New England Patriots  13     Los Angeles Rams

  Pts.1              MVP                Stadium           City       State
0    35  Patrick Mahomes     State Farm Stadium       Glendale     Arizona
1    20      Cooper Kupp           SoFi Stadium      Inglewood  California
2     9        Tom Brady  Raymond James Stadium          Tampa     Florida
3    20  Patrick Mahomes      Hard Rock Stadium  Miami Gardens     Florida
4     3   Julian Edelman  Mercedes-Benz Stadium        Atlanta     Georgia

In [169]:
df4 = pd.read_csv('..\\Data\\superbowl-ads.csv')
# This was cleaned up from Kaggle https://www.kaggle.com/datasets/prondeau/superbowlads

df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           563 non-null    object
 1   Product Type   563 non-null    object
 2   Product/Title  562 non-null    object
 3   Plot/Notes     547 non-null    object
dtypes: object(4)
memory usage: 17.7+ KB

## This is the best one I found and it is still a mess. I am wondering if I would not be better off scraping it myself like I did with the text files I loaded as `df3` and `df5`

In [170]:
df4.Year.unique()
## Something wrong here with year

array(['1969', '1970', '1975', '1976', '1979', '1981', '1982', '1984',
       '1988', '1989', '1990', '1992', '1993', '1994', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', 'Food, TV series'],
      dtype=object)

In [171]:
df4[df4.Year == 'Food, TV series']
## looks like year should be 2020 and shift the two others over for this entry
## lets make better column names first

,Year,Product Type,Product/Title,Plot/Notes
561,"Food, TV series","Pringles, Rick and Morty",NaN,After Morty enthusiastically enters the living...

In [172]:
df4.rename(columns={"Product Type":'Product_type', 'Product/Title':'Brand_title','Plot/Notes':'Plot'})

,Year,Product_type,Brand_title,Plot
0,1969,Car,"Chrysler ""Scuba Diver""[4]",A scuba diver in a dreamy sequence with groovy...
1,1970,Car,"Pontiac""Humbler""",A young man pulled up in his GTO to a drive-in...
2,1975,Security,"Master Lock""Rifle""",A man attempts to break a Master Lock with a r...
3,1976,Copy,"Xerox""Monks""",A monk must make 500 handwritten scriptures fo...
4,1979,Soft drink,"Coca-Cola""Hey Kid, Catch!""","A young kid tries to talk to ""Mean"" Joe Greene..."
...,...,...,...,...
558,2020,Food,"Doritos """"""The Cool Ranch"""""" ""Lil Nas X and Sa...",NaN
559,2020,Food,"Planters """"""Tribute"""""" ""Following his death in...",Mr. Peanut returns to life as a newborn child...
560,2020,Food,"Pop-Tarts Pretzel """"""Pop-Tarts Fixed the Pretz...","promoting it as an alternative to """"boring"""" ..."
561,"Food, TV series","Pringles, Rick and Morty",NaN,After Morty enthusiastically enters the living...
562,2020,Website,"Facebook ""Facebook groups """"Ready to Rock"""" f...",NaN

In [173]:
df4.iloc[561] = df4.iloc[561].shift(1)
df4.iloc[561]

Year                                 None
Product Type              Food, TV series
Product/Title    Pringles, Rick and Morty
Plot/Notes                            NaN
Name: 561, dtype: object

In [174]:
df4.iloc[561].Year = 2020
df4.iloc[561]

Year                                 2020
Product Type              Food, TV series
Product/Title    Pringles, Rick and Morty
Plot/Notes                            NaN
Name: 561, dtype: object

In [176]:
df4[['Product','Title']] = df4['Product/Title'].str.split('"',expand=True)[[0,1]]
df4.head()

,Year,Product Type,Product/Title,Plot/Notes,Product,Title
0,1969,Car,"Chrysler ""Scuba Diver""[4]",A scuba diver in a dreamy sequence with groovy...,Chrysler,Scuba Diver
1,1970,Car,"Pontiac""Humbler""",A young man pulled up in his GTO to a drive-in...,Pontiac,Humbler
2,1975,Security,"Master Lock""Rifle""",A man attempts to break a Master Lock with a r...,Master Lock,Rifle
3,1976,Copy,"Xerox""Monks""",A monk must make 500 handwritten scriptures fo...,Xerox,Monks
4,1979,Soft drink,"Coca-Cola""Hey Kid, Catch!""","A young kid tries to talk to ""Mean"" Joe Greene...",Coca-Cola,"Hey Kid, Catch!"

In [28]:
df5 = pd.read_csv('..\\Data\\advertisers.txt', sep='\t', lineterminator='\r')
# Text file scraped from http://superadsdb.com/advertisers
print(df5.head(20))

             Company\Brand  Ads            Industry  Latest First  Links
0   \n21st Century Studios   14              Movies    2019  1994    NaN
1                   \n7 Up   11         Soft Drinks    2001  1992    NaN
2            \n  Diet 7 Up    3         Soft Drinks    1992    --    NaN
3              \n84 Lumber    1   Building Supplies    2017    --    NaN
4              \nAccenture    4          Technology    2001    --    NaN
5                  \nAcura    3         Automobiles    2016  2001    NaN
6            \n  Acura MDX    1                SUVs    2001    --    NaN
7            \n  Acura NSX    2         Sports Cars    2016  2012    NaN
8                    \nADT    2       Home Security    2020  2019    NaN
9                  \nAdvil    5         Pain Relief    2016  1985    NaN
10                 \nAflac    1           Insurance    2017    --    NaN
11                \nAirbnb    1  Internet Companies    2017    --    NaN
12                 \nAlamo    2         Rental Cars    1994  1988    NaN
13                 \nAleve    1         Pain Relief    2006    --    NaN
14            \nAlfa Romeo    3                Cars    2017    --    NaN
15          \nAlka Seltzer    1                 NaN    1991    --    NaN
16    \nAllstate Insurance    6           Insurance    2016  1987    NaN
17            \n  Esurance    4           Insurance    2016  2015    NaN
18                \nAlways    1     Health & Beauty    2015    --    NaN
19  \nAmazon Retail Brands    9    Online Retailers    2021  2016    NaN