In [41]:
import os
import pandas as pd

df= pd.read_csv('..\\Data\\financials.csv')

print(df.head())

  Symbol                 Name                  Sector   Price  Price/Earnings  \
0    MMM           3M Company             Industrials  222.89           24.31
1    AOS      A.O. Smith Corp             Industrials   60.24           27.76
2    ABT  Abbott Laboratories             Health Care   56.27           22.51
3   ABBV          AbbVie Inc.             Health Care  108.48           19.41
4    ACN        Accenture plc  Information Technology  150.51           25.47

   Dividend Yield  Earnings/Share  52 Week Low  52 Week High    Market Cap  \
0        2.332862            7.92       259.77       175.490  1.387211e+11
1        1.147959            1.70        68.39        48.925  1.078342e+10
2        1.908982            0.26        64.60        42.280  1.021210e+11
3        2.499560            3.29       125.86        60.050  1.813863e+11
4        1.714470            5.44       162.60       114.820  9.876586e+10

         EBITDA  Price/Sales  Price/Book  \
0  9.048000e+09     4.390271       11.34
1  6.010000e+08     3.575483        6.35
2  5.744000e+09     3.740480        3.19
3  1.031000e+10     6.291571       26.14
4  5.643228e+09     2.604117       10.62

                                         SEC Filings
0  http://www.sec.gov/cgi-bin/browse-edgar?action...
1  http://www.sec.gov/cgi-bin/browse-edgar?action...
2  http://www.sec.gov/cgi-bin/browse-edgar?action...
3  http://www.sec.gov/cgi-bin/browse-edgar?action...
4  http://www.sec.gov/cgi-bin/browse-edgar?action...

In [42]:
df2 = pd.read_csv('..\\Data\\superbowl_commercials.csv')

print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Year                   249 non-null    int64
 1   Brand                  249 non-null    object
 2   Superbowl Ads Link     249 non-null    object
 3   Youtube Link           240 non-null    object
 4   Funny                  249 non-null    bool
 5   Shows Product Quickly  249 non-null    bool
 6   Patriotic              249 non-null    bool
 7   Celebrity              249 non-null    bool
 8   Danger                 249 non-null    bool
 9   Animals                249 non-null    bool
 10  Uses Sex               249 non-null    bool
 11  Length                 249 non-null    int64
 12  Estimated Cost         249 non-null    float64
 13  Youtube Views          237 non-null    float64
 14  Youtube Likes          231 non-null    float64
 15  TV Viewers             249 non-null    float64
dtypes: bool(7), float64(4), int64(2), object(3)
memory usage: 19.3+ KB
None

In [43]:
df3 = pd.read_csv('..\\Data\\superbowls.txt', sep='\t', lineterminator='\r')
# Text file scraped from https://www.pro-football-reference.com/super-bowl/
print(df3.head())

             Date         SB                Winner Pts                Loser  \
0  \nFeb 12, 2023  LVII (57)    Kansas City Chiefs  38  Philadelphia Eagles
1  \nFeb 13, 2022   LVI (56)      Los Angeles Rams  23   Cincinnati Bengals
2   \nFeb 7, 2021    LV (55)  Tampa Bay Buccaneers  31   Kansas City Chiefs
3   \nFeb 2, 2020   LIV (54)    Kansas City Chiefs  31  San Francisco 49ers
4   \nFeb 3, 2019  LIII (53)  New England Patriots  13     Los Angeles Rams

  Pts.1              MVP                Stadium           City       State
0    35  Patrick Mahomes     State Farm Stadium       Glendale     Arizona
1    20      Cooper Kupp           SoFi Stadium      Inglewood  California
2     9        Tom Brady  Raymond James Stadium          Tampa     Florida
3    20  Patrick Mahomes      Hard Rock Stadium  Miami Gardens     Florida
4     3   Julian Edelman  Mercedes-Benz Stadium        Atlanta     Georgia

In [44]:
df4 = pd.read_csv('..\\Data\\superbowl-ads.csv')
# This was cleaned up from Kaggle https://www.kaggle.com/datasets/prondeau/superbowlads
print(df4[df4.Year=="2008"])

     Year Product Type                             Product/Title  \
191  2008         Beer                        Bud Light"Cavemen"
192  2008         Beer                       Budweiser"Training"
193  2008          Car                       Audi"The Godfather"
194  2008         Film                                  Iron Man
195  2008         Film                                    Jumper
196  2008         Film  The Chronicles of Narnia: Prince Caspian
197  2008         Film                                    Wanted
198  2008         Film             You Don't Mess with the Zohan
199  2008   Soft drink                      Coca-Cola"It's Mine"
200  2008   Soft drink                            SoBe"Thriller"
201  2008      Website                             E*Trade"Baby"
202  2008      Website                            E*Trade"Clown"

                                            Plot/Notes
191  Three cavemen are trying to carry a cooler of ...
192  For the Budweiser Clydesdales this year, Hank ...
193  Spoofing The Godfather, the horse's head is re...
194                                          TV promo.
195                                          TV promo.
196                                          TV promo.
197                                          TV promo.
198                                          TV promo.
199  At the Macy's Thanksgiving Day Parade, the Und...
200  Naomi Campbell and lizards do the famous Thril...
201  The birth of the E*Trade baby, the baby explai...
202  The E*Trade Baby has rented a clown with his s...

In [45]:
df5 = pd.read_csv('..\\Data\\advertisers.txt', sep='\t', lineterminator='\r')
# Text file scraped from http://superadsdb.com/advertisers
print(df5.head(20))

             Company\Brand  Ads            Industry  Latest First  Links
0   \n21st Century Studios   14              Movies    2019  1994    NaN
1                   \n7 Up   11         Soft Drinks    2001  1992    NaN
2            \n  Diet 7 Up    3         Soft Drinks    1992    --    NaN
3              \n84 Lumber    1   Building Supplies    2017    --    NaN
4              \nAccenture    4          Technology    2001    --    NaN
5                  \nAcura    3         Automobiles    2016  2001    NaN
6            \n  Acura MDX    1                SUVs    2001    --    NaN
7            \n  Acura NSX    2         Sports Cars    2016  2012    NaN
8                    \nADT    2       Home Security    2020  2019    NaN
9                  \nAdvil    5         Pain Relief    2016  1985    NaN
10                 \nAflac    1           Insurance    2017    --    NaN
11                \nAirbnb    1  Internet Companies    2017    --    NaN
12                 \nAlamo    2         Rental Cars    1994  1988    NaN
13                 \nAleve    1         Pain Relief    2006    --    NaN
14            \nAlfa Romeo    3                Cars    2017    --    NaN
15          \nAlka Seltzer    1                 NaN    1991    --    NaN
16    \nAllstate Insurance    6           Insurance    2016  1987    NaN
17            \n  Esurance    4           Insurance    2016  2015    NaN
18                \nAlways    1     Health & Beauty    2015    --    NaN
19  \nAmazon Retail Brands    9    Online Retailers    2021  2016    NaN